.app-header {
  display: grid;
  grid-template-columns: var(--layout-aside-width) 1fr;
  border-bottom: 1px solid var(--color-border--main);
}

.app-header__brand {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  border-right: 1px solid var(--color-border--main);
}
.app-header__brand img {
  margin-right: 1rem;
  display: none;
}
.app-header__navigation {
  display: flex;
  justify-content: space-between;
  flex: 1 1 auto;
}

.app-header__brand h1 {
  position: relative;
  left: 1.5rem;
}
@media (max-width: 1280px) {
  .dropdown {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .dropdown ul {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .dropdown li {
    border-right: none;
    border-bottom: 1px solid var(--color-border--main);
    width: 100%;
    height: 100%;
  }

  .app-navigation {
    display: none;
  }
  .app-header {
    display: flex;
    /* grid-template-columns: var(--layout-aside-width) 1fr;
        border-bottom: 1px solid var(--color-border--main); */
  }

  .app-header__brand {
    width: 100%;
    height: 56px;
    border-bottom: 1px solid var(--color-border--main);
  }

  .app-header__brand img {
    margin-right: 1rem;
    display: block;
  }

  .app-header__navigation {
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    flex: 1 1;
  }
  .images span {
    transform: rotateX(calc(var(--i) * 45deg)) translateZ(100px);
  }
}

@media (min-width: 1280px) {
  .app-navigation {
    display: flex;
  }
}
