:root {
    --color--accent: #fea55f;
    --color-body--base: #010c15;
    --color-main--lighter: #011627;
    --color-border--main: #1e2d3d;
    --color-text-main: #607b96;
    --color-base-text--contrast: #ffffff;
}