@import "./global/reset.css";
@import "./components/colors.css";
@import "./components/fonts.css";
@import "./components/layout.css";

@import "./components/app-header.css";
@import "./components/app-main.css";
@import "./components/app-content.css";
@import "./components/app-navigation.css";
@import "./components/app-footer.css";

@import "./components/widget.css";
@import "./components/folder-browser.css";

body {
    background-color: var(--color-body--base);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.app {
    width: calc(100% - var(--body-inset) * 2);
    height: calc(100% - var(--body-inset) *2);
    background: var(--color-main--lighter);
    border: 1px solid var(--color-border--main);
    border-radius: 0.5rem;

    display: flex;
    flex-direction: column;
}

.app-aside {
    border-right: 1px solid var(--color-border--main);
    display: grid;
    grid-template-columns: 1fr;
}

div ol{
    height: max-content;
}

.app-aside li {
    border-right: none;
}

.app-aside__tabs {
    border-right: 1px solid var(--color-border--main);
}

.app-aside__tabs a {
    border-right: none;
}

.app-aside__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.widget-header {
    box-sizing: border-box;
    width: 100%;
    padding: 0.625rem;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    border-bottom: 1px solid var(--color-border--main);
}


.widget-header img {
    width: 8.5px;
    height: 6px;
}

.widget-category {
    box-sizing: border-box;
    width: 100%;
    padding: 0.625rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.widget-category a {
    color: inherit;
}

.widget-category img:first-child {
    width: 12.73px;
    height: 7.78px;
}

img.folder {
    width: 15px;
    height: 13px;
}

.category-chosen {
    color: white;
}

#education {
    border-bottom: 1px solid var(--color-border--main);
    padding-bottom: 3rem;
}

#email img {
    width: 15px;
    height: 13px;
}

.info{
    padding-left: 9rem;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}
form{
    position: absolute;
    padding-top: 8rem;
    z-index: 1;
}
input{
    gap: 1rem;
    box-sizing: border-box;
    background: #011221;
    border: 1px solid #1E2D3D;
    border-radius: 8px;
    color: #465E77;
    margin: 0.5rem;
    height: 2.6rem;
    width: 21rem;
    font-size: 1rem;
}

#message1{
    padding-left: 1rem;
    padding-top: 1rem;
    box-sizing: border-box;
    background: #011221;
    border: 1px solid #1E2D3D;
    border-radius: 8px;
    color: #465E77;
    margin: 0.5rem;
    height: 9rem;
    display: flex;
    flex-wrap: nowrap;
    font-size: 1rem;
    box-shadow: 0px 0px 0px 2px rgba(96, 123, 150, 0.3);
    resize: none;
}

#btnSubmit{
    position: relative;
    display: flex;
    width: fit-content;
    height: fit-content;
    
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 450;
    font-size: 14px;
    flex: none;
    order: 0;
    flex-grow: 0;
    background: #1C2B3A;
    color: #fff;
    padding: 0.25rem;
    left: 0.25rem;
    box-shadow: none;
    border: 0;
    border-radius: 8px;
    margin: 0;
}
#btnSubmit:hover{
    cursor: pointer;
}

.pink{
    color: #C98BDF;
}


.ol{
    box-sizing: border-box;
    position: relative;
    margin-top: 8rem;
    width: 95%;
    height: auto;
    padding-left: 5rem;
}
.blue {
    color: #4D5BCE;
}

.orange {
    color: #FEA55F;
}

.shift span:first-child{
    padding-left: .75rem;
}

.extra-padding{
    position: relative;
    display: flex;
    padding-left: 2rem;
}

.thanks{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width:80%;
    height: 100%;
    text-align: center;
    z-index: -1;
}
.thanks p{
    font-size: 18px;
    padding: .5rem 0;
}
#ty{
    color: white;
    font-size: 26px;
}

#send-message{
    background-color: #1C2B3A;
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

#send-message:hover{
    cursor: pointer;
}
