@import "./global/reset.css";
@import "./components/colors.css";
@import "./components/fonts.css";
@import "./components/layout.css";

@import "./components/app-header.css";
@import "./components/app-main.css";
@import "./components/app-navigation.css";
@import "./components/app-footer.css";
@import "./components/app-content.css";
@import "./components/widget.css";
@import "./components/folder-browser.css";

body {
  box-sizing: border-box;
  background-color: var(--color-body--base);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.app {
  width: calc(100% - var(--body-inset) * 2);
  height: calc(100% - var(--body-inset) * 2);
  background: var(--color-main--lighter);
  border: 1px solid var(--color-border--main);
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;
}

.app-aside {
  border-right: 1px solid var(--color-border--main);
  display: grid;
  grid-template-columns: 1fr;
}

div ol {
  height: max-content;
}

.app-aside li {
  border-right: none;
}

.app-aside__tabs {
  border-right: 1px solid var(--color-border--main);
}

.app-aside__tabs a {
  border-right: none;
}

.app-aside__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.widget-category--wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70%;
  align-items: center;
}

.widget-header {
  box-sizing: border-box;
  width: 100%;
  padding: 0.625rem;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  border-bottom: 1px solid var(--color-border--main);
  font-size: 16px;
  max-height: 37px;
}

.widget-header span {
  padding-left: 1rem;
}

.widget-header img {
  width: 8.5px;
  height: 6px;
}

.widget-category {
  position: relative;
  padding: 0.35rem;
  width: calc(100% - 5rem);
  left: 2rem;
  box-sizing: border-box;
  display: flex;
  flex: 1;
}

.widget-category img,
span {
  position: relative;
  padding: 0.25rem;
  display: inline-block;
  color: inherit;
}

.widget-category img {
  width: 16px;
  height: 16px;
}

img.folder {
  width: 15px;
  height: 13px;
}

.category-chosen {
  color: white;
}

#education {
  border-bottom: 1px solid var(--color-border--main);
  padding-bottom: 3rem;
}

#email img {
  width: 15px;
  height: 13px;
}

.info {
  border: none;
  width: 100%;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}
form {
  position: absolute;
  padding-top: 8rem;
  z-index: 1;
}
input {
  box-sizing: border-box;
  background: #011221;
  border: 1px solid #1e2d3d;
  border-radius: 8px;
  color: #465e77;
  margin: 0.5rem;
  height: 2.6rem;
  width: 21rem;
  font-size: 1rem;
}

#message1 {
  padding-left: 1rem;
  padding-top: 1rem;
  box-sizing: border-box;
  background: #011221;
  border: 1px solid #1e2d3d;
  border-radius: 8px;
  color: #465e77;
  margin: 0.5rem;
  height: 9rem;
  display: flex;
  flex-wrap: nowrap;
  font-size: 1rem;
  box-shadow: 0px 0px 0px 2px rgba(96, 123, 150, 0.3);
  resize: none;
}

#btnSubmit {
  position: relative;
  display: flex;
  width: fit-content;
  height: fit-content;

  font-family: "Fira Code";
  font-style: normal;
  font-weight: 450;
  font-size: 14px;
  flex: none;
  order: 0;
  flex-grow: 0;
  background: #1c2b3a;
  color: #fff;
  padding: 0.25rem;
  left: 0.25rem;
  box-shadow: none;
  border: 0;
  border-radius: 8px;
  margin: 0;
}
#btnSubmit:hover {
  cursor: pointer;
}

.pink {
  color: #c98bdf;
}

.ol {
  box-sizing: border-box;
  position: relative;
  margin-top: 8rem;
  width: 95%;
  height: auto;
  padding-left: 5rem;
}
.blue {
  color: #4d5bce;
}

.orange {
  color: #fea55f;
}

.shift span:first-child {
  padding-left: 0.75rem;
}

.extra-padding {
  position: relative;
  display: flex;
  padding-left: 2rem;
}

.thanks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 80%;
  height: 100%;
  text-align: center;
  z-index: -1;
}
.thanks p {
  font-size: 18px;
  padding: 0.5rem 0;
}
#ty {
  color: white;
  font-size: 26px;
}

#send-message {
  background-color: #1c2b3a;
  color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

#send-message:hover {
  cursor: pointer;
}

input::placeholder {
  position: absolute;
  gap: 0;
  padding: 0;
  margin: 0;
  left: 0;
}

.info-block--header {
  width: 100%;
}

.widget-category img {
  filter: invert(49%) sepia(6%) saturate(1952%) hue-rotate(169deg)
    brightness(93%) contrast(89%);
}

.info-block {
  overflow-wrap: unset;
  box-sizing: border-box;
  position: relative;
  top: 103px;
  left: calc(25% / 4);
  display: grid;
  height: calc(100% - 140px);
  width: 100;
  grid-template-columns: 25% 25% 25%;
  column-gap: calc(25% / 4);
}

.project {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.project-description {
  display: flex;
  flex-direction: column;
  width: calc(100% - 1px);
  aspect-ratio: 7 / 6;
  background-color: #011221;
  border-radius: 12px;
  border: 1px solid #1e2d3d;
}
.project-description img {
  width: 100%;
  aspect-ratio: 2.5 / 1;
  max-height: 115px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.project-description p {
  padding: 10% 6%;
  width: 80%;
  font-size: 18px;
}

.project-description button {
  position: relative;
  left: 6%;
  width: 6rem;
  height: auto;
  padding: 2%;
  background-color: #1c2b3a;
  border: none;
  border-radius: 8px;
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.project-description:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.project-name {
  margin-bottom: 1rem;
}
ul > li span {
  padding: 0;
  max-width: 157px;
  max-height: 44px;
}

.deepblue {
  color: #5565e8;
}

.widget-category:first-child {
  margin-top: 1rem;
}
@media (max-width: 1280px) {
  .app {
    height: 100vh;
    overflow-y: scroll;
  }
  .app-content {
    border: none;
  }
  .app-aside {
    display: none;
  }
  .info-block {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    border: none;
    align-items: center;
    width: 100%;
  }
  .project {
    width: 40%;
    aspect-ratio: 1/1;
    padding: 2rem;
    min-width: 291px;
    min-height: 328px;
  }
  #tab {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .info-block--header img {
    display: none;
  }
}
@media (max-width: 650px) {
  .app {
    width: 90vw;
    height: 95vh;
  }
}
